# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
*.sqlite3

# Logs
*.log

# Environment variables
.env
**/env/


# Static files
/staticfiles/

# Media files
/media/

# Dependency directories
/.venv/
/lib/
